.margin {
  width: 986px;
  margin: 0 auto; }

#title {
  background: "#fafafa";
  height: "30px"; }

#title ul {
  float: right; }

#title ul li {
  float: left;
  height: 30px; }

#title ul li a {
  font-size: 12px;
  padding: 0 15px;
  border-right: 1px solid #e5e5e5;
  display: block;
  margin-top: 6px;
  color: #999; }

#title ul li #denglu {
  color: #ec1611; }

#title ul li a #imgPhone {
  margin-right: 9px; }

#title ul li a #imgCart {
  margin-right: 5px; }

#title ul li a #spanId {
  color: #cf201c; }

#title ul li a:hover {
  color: #ec1611; }

#logo {
  display: flex;
  justify-content: space-between; }

#logo img {
  width: 215px;
  height: 44px;
  margin-top: 32px; }

#logo .logo-r {
  margin-top: 48px; }

#logo a {
  width: 90px;
  height: 18px;
  display: inline-block; }

#logo a:nth-of-type(1) {
  background: url(../img/step.ff09f3d1.png);
  background-position: 0 0px; }

#logo a:nth-of-type(2) {
  background: url(../img/step.ff09f3d1.png);
  background-position: 194px 37px; }

#logo a:nth-of-type(3) {
  background: url(../img/step.ff09f3d1.png);
  background-position: -139 1px; }

#hint {
  display: flex;
  justify-content: space-between; }

#hint span {
  font: 18px/53px "";
  margin-top: 21px; }

#hint img {
  display: block;
  width: 486px;
  height: 28px;
  margin-top: 34px; }

#divhr {
  height: 2px;
  width: 100000px;
  background: #ec1611; }

#inside {
  width: 462px;
  height: 111px;
  margin: 98px 0 0 291px; }

#content-l {
  background: url(../img/icon7.056f9fb8.png) no-repeat;
  width: 70px;
  height: 111px;
  float: left;
  background-position: 1px 2px; }

#content-c {
  float: left;
  font: 700 18px/30px "";
  color: #4d4735;
  box-sizing: border-box;
  padding: 7px 0 0 23px; }

#content-c a {
  color: #ee3c3c;
  font-weight: bold; }

#content-r {
  background: url(../img/icon7.056f9fb8.png) no-repeat;
  width: 135px;
  height: 111px;
  float: right;
  background-position: left -67px top 44px; }

#need {
  margin-top: 159px; }

#need h3 {
  font: 14px/42px "";
  color: #333; }

footer {
  text-align: center; }

#beian {
  margin-top: 20px;
  text-align: center; }

#beian span {
  font-size: 12px;
  color: #999; }

#beian a {
  font-size: 12px;
  color: #999; }

#chu {
  margin-top: 10px;
  text-align: center; }

#chu span {
  font-size: 12px;
  color: #999; }

#xin {
  text-align: center;
  margin-top: 16px; }

#commodity .commodity-t span {
  font: 700 12px/44px "";
  color: #333; }

#commodity .commodity-t span:nth-of-type(1) {
  margin-right: 124px; }

#commodity .commodity-t span:nth-of-type(2) {
  margin-right: 286px; }

#commodity .commodity-t span:nth-of-type(3) {
  margin-right: 128px; }

#commodity .commodity-t span:nth-of-type(4) {
  margin-right: 109px; }

#commodity .commodity-t span:nth-of-type(5) {
  margin-right: 59px; }

#commodity .commodity-b {
  border: 1px solid #f3f3f3;
  height: 44px;
  widows: 982px;
  margin-top: 30px; }

#commodity .commodity-b [type="checkbox"] {
  margin: 0 10px 0 16px; }

#commodity .commodity-b span {
  font: 12px/44px "";
  color: #666; }

#commodity .commodity-b span:nth-of-type(1) {
  margin-right: 19px; }

#commodity .commodity-b span:nth-of-type(2) {
  margin-right: 444px; }

#commodity .commodity-b span i {
  color: #ff0600; }

#commodity .commodity-b span:nth-of-type(3) {
  margin-right: 14px; }

#commodity .commodity-b #zongjia {
  color: #ff0600;
  font-weight: bold;
  width: 80px;
  height: 20px;
  display: inline-block;
  margin-right: 13px; }

#commodity .commodity-b #jiesuan {
  width: 151px;
  height: 48px;
  background: #ddd;
  color: #999;
  display: inline-block;
  text-align: center; }
