.margin{width: 1280px;margin: 0 auto;}
body{height: 100%;}
#exclusive{height: 100%;background: #fe6d6a;position: relative;overflow: hidden;}

#exclusive .exclusiveL{height: 64px;background: #fe7b79;}
#exclusive .exclusiveL img{margin: -6px 0 0 31px;}
#exclusive .exclusiveL a{color: #673131;font: 14px/64px "";margin: 0px 39px;}
#exclusive .exclusiveL #first{margin-left: 554px;}
#shouji{margin: 140px 0 34px 90px;}
#zhuanxiang{position: absolute;left: 250px;top: 120px;}
#yun{position: absolute;left: 110px;top: 290px;}
